body,
html {
	margin: 0;
	padding: 0;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
	display: block;
	max-width: 960px;
	margin-right: auto;
	margin-left: auto;
	background-color: #121212;
	color: rgba(255, 255, 255, 0.87);
}

ol {
	padding-left: 1em;
}

.content-wrapper {
	margin: 1em;
}

.container {
	margin-bottom: 1em;
}

li img {
	max-width: 500px;
}
